In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("/file.csv")

In [17]:
df

                  FullDate  Tmax     SysLoad  GasPrice  ElecPrice
0      2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710
1      2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635
2      2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565
3      2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910
4      2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030
...                    ...   ...         ...       ...        ...
92011  2021-02-28 19:00:00  24.3   449.63625    5.4848    117.925
92012  2021-02-28 20:00:00  24.3   815.59975    5.4848     87.880
92013  2021-02-28 21:00:00  24.3   745.12325    5.4848     62.060
92014  2021-02-28 22:00:00  24.3   694.95150    5.4848     62.000
92015  2021-02-28 23:00:00  24.3   714.69630    5.4848     62.955

[92016 rows x 5 columns]

In [18]:
df.isnull().sum()

FullDate     0
Tmax         0
SysLoad      0
GasPrice     0
ElecPrice    0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92016 entries, 0 to 92015
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FullDate   92016 non-null  object
 1   Tmax       92016 non-null  float64
 2   SysLoad    92016 non-null  float64
 3   GasPrice   92016 non-null  float64
 4   ElecPrice  92016 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.5+ MB

In [20]:
df[ "FullDate" ] = pd.to_datetime(df[ "FullDate" ])

In [21]:
df_copy = df[['FullDate','ElecPrice']].copy()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92016 entries, 0 to 92015
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FullDate   92016 non-null  datetime64[ns]
 1   Tmax       92016 non-null  float64
 2   SysLoad    92016 non-null  float64
 3   GasPrice   92016 non-null  float64
 4   ElecPrice  92016 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 3.5 MB

In [24]:
df_copy.rename(columns={'FullDate':'ds','ElecPrice':'y'},inplace=True)

In [25]:
train=df_copy[:2757]
test=df_copy[2757:]

In [28]:
df_quarterly = df.copy.resample( 'D' ).mean()

AttributeError: ignored

In [29]:
from statsmodels.tsa.stattools import adfuller
adf_result = adfuller(df_copy[ 'y' ])
print( f'ADF Statistic: {adf_result[ 0 ]} ' )
print( f'p-value: {adf_result[ 1 ]} ' )
print( f'No. of lags used: {adf_result[ 2 ]} ' )
print( f'No. of observations used : {adf_result[ 3 ]} ' )
print( 'Critical Values:' )
for k, v in adf_result[ 4 ].items():
 print( f' {k} : {v} ' )

ADF Statistic: -31.952975699557843
p-value: 0.0
No. of lags used: 53
No. of observations used : 91962
Critical Values:
 1% : -3.430421110703783
 5% : -2.8615714297867108
 10% : -2.56678672898094

In [37]:
df_copy = df[['FullDate','SysLoad']].copy()

In [32]:
df_copy_1 = df[['FullDate','ElecPrice']].copy()

In [48]:
df_copy_2 = df[['FullDate','GasPrice']].copy()

In [38]:
from statsmodels.tsa.stattools import adfuller
adf_result = adfuller(df_copy[ 'SysLoad' ])
print( f'ADF Statistic: {adf_result[ 0 ]} ' )
print( f'p-value: {adf_result[ 1 ]} ' )
print( f'No. of lags used: {adf_result[ 2 ]} ' )
print( f'No. of observations used : {adf_result[ 3 ]} ' )
print( 'Critical Values:' )
for k, v in adf_result[ 4 ].items():
 print( f' {k} : {v} ' )

ADF Statistic: -18.17067542641451
p-value: 2.4474966090684217e-30
No. of lags used: 67
No. of observations used : 91948
Critical Values:
 1% : -3.430421121531399
 5% : -2.861571434572286
 10% : -2.566786731528145

In [49]:
from statsmodels.tsa.stattools import adfuller
adf_result = adfuller(df_copy_2[ 'GasPrice' ])
print( f'ADF Statistic: {adf_result[ 0 ]} ' )
print( f'p-value: {adf_result[ 1 ]} ' )
print( f'No. of lags used: {adf_result[ 2 ]} ' )
print( f'No. of observations used : {adf_result[ 3 ]} ' )
print( 'Critical Values:' )
for k, v in adf_result[ 4 ].items():
 print( f' {k} : {v} ' )

ADF Statistic: -6.793388065452667
p-value: 2.3337605343636574e-09
No. of lags used: 48
No. of observations used : 91967
Critical Values:
 1% : -3.430421106837576
 5% : -2.86157142807793
 10% : -2.566786728071412

In [36]:
from statsmodels.tsa.stattools import adfuller
adf_result_1 = adfuller(df_copy_1[ 'ElecPrice' ])
print( f'ADF Statistic: {adf_result[ 0 ]} ' )
print( f'p-value: {adf_result[ 1 ]} ' )
print( f'No. of lags used: {adf_result[ 2 ]} ' )
print( f'No. of observations used : {adf_result[ 3 ]} ' )
print( 'Critical Values:' )
for k, v in adf_result[ 4 ].items():
 print( f' {k} : {v} ' )

ADF Statistic: -6.793388065452667
p-value: 2.3337605343636574e-09
No. of lags used: 48
No. of observations used : 91967
Critical Values:
 1% : -3.430421106837576
 5% : -2.86157142807793
 10% : -2.566786728071412

In [42]:
model=Prophet()
model.fit(train[['ds','y']])

INFO:prophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
DEBUG:cmdstanpy:input tempfile: /tmp/tmpn5apvkm8/ut0ldylz.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmpn5apvkm8/z3vneqwr.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.8/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=32603', 'data', 'file=/tmp/tmpn5apvkm8/ut0ldylz.json', 'init=/tmp/tmpn5apvkm8/z3vneqwr.json', 'output', 'file=/tmp/tmpn5apvkm8/prophet_model_pk_rzmi/prophet_model-20230131044000.csv', 'method=optimize', 'algorithm=lbfgs', 'iter=10000']
04:40:00 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
04:40:00 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [40]:
from prophet import Prophet

In [43]:
future=model.make_future_dataframe(periods=len(test))
forecast=model.predict(future)
forecast[['ds','yhat','yhat_lower','yhat_upper']].tail()

                       ds          yhat    yhat_lower    yhat_upper
92011 2255-05-09 20:00:00 -22241.883211 -2.826822e+06  2.692047e+06
92012 2255-05-10 20:00:00 -22262.858466 -2.826952e+06  2.692014e+06
92013 2255-05-11 20:00:00 -22255.522548 -2.827067e+06  2.692299e+06
92014 2255-05-12 20:00:00 -22270.733750 -2.827036e+06  2.692297e+06
92015 2255-05-13 20:00:00 -22263.439903 -2.826910e+06  2.692363e+06

In [47]:
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error
predictions=forecast[2757:]['yhat'].values
test_set=test['y'].values
mape=mean_absolute_percentage_error(test_set,predictions)
mae=mean_squared_error(test_set,predictions)
print('mape:',mape)
print('mea',mae)

mape: 1.5108529789015412e+16
mea 166716927.9010137